* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.botonTexto, header a, a {
  text-decoration: none;
  font-size: 14px; }

header {
  height: 40px;
  width: 100%;
  background-color: #303030; }
  header a {
    color: inherit; }
    header a:hover {
      color: #fff; }

nav {
  text-align: center; }
  nav li {
    display: inline-block;
    width: 10%;
    padding: 10px 10px;
    text-align: center;
    color: #d6d6d6; }

footer {
  display: flex;
  position: fixed;
  justify-content: space-between;
  left: 0px;
  bottom: 0px;
  height: 140px;
  width: 100%;
  background: #f5f5f7;
  /* Creamos un bucle para usar los valores del mapa */ }
  footer li {
    list-style: none;
    padding: 5px; }
    footer li a {
      color: #303030;
      font-size: 12px; }
  footer p {
    display: flex;
    align-items: flex-end;
    text-align: center;
    margin-bottom: 15px; }
  footer .formulario {
    display: flex;
    align-items: center;
    left: 10px; }
  footer input {
    margin-left: 20px;
    height: 40px;
    width: 200px; }
  footer button {
    height: 40px;
    width: 100px;
    background-color: #fff;
    border: 1px solid #303030;
    border-radius: 10px; }
  footer .social {
    display: flex;
    margin: auto; }
  footer .social i {
    padding: 10px; }
  footer .fa-twitter {
    color: #55ACEE; }
  footer .fa-facebook {
    color: #3A5795; }
  footer .fa-instagram {
    color: #ee784c; }

.subnav {
  background-color: #fbfbfd; }
  .subnav .subitem a {
    color: #303030; }
    .subnav .subitem a:hover {
      color: #0065cc; }

main {
  text-align: center; }

h2 {
  font-size: 26px;
  margin-top: 25px;
  padding: 10px; }

.new {
  color: #f56200;
  margin-top: 100px; }

a:hover {
  text-decoration: underline; }

img {
  width: 460px;
  margin-top: 60px; }
