// Creamos una mapa para darle los colores a los iconos

$redes: (
    twitter: #55ACEE,
    facebook: #3A5795,
    instagram: #ee784c
);


footer {
    display: flex;
    position:fixed;
    justify-content: space-between;
    left:0px;
    bottom:0px;
    @include dimensiones (100%, 140px);
    background:#f5f5f7;

    li {
        list-style: none;
        padding: 5px;

        a {
            color: #303030;
            font-size: 12px;
        }
    }

    p {
        display: flex;
        align-items: flex-end;
        text-align: center;
        margin-bottom: 15px;
    }

    .formulario {
        display: flex;
        align-items: center;
        left: 10px;
    }

    input {
        margin-left: 20px;
        @include dimensiones (200px, 40px);
    }

    button {
        @include dimensiones (100px, 40px);
        background-color: #fff;
        border: 1px solid $colorPrincipal   ;
        border-radius: 10px ;
    }

    .social {
        display: flex;
        margin: auto;
    }

    .social i {
        padding: 10px;
    }


    /* Creamos un bucle para usar los valores del mapa */
    @each $red, $color in $redes {
        .fa-#{$red} {
            color: $color;
        }
    }
}

