
// Definimos el extends botonTexto
.botonTexto {
    text-decoration:none;
    font-size:14px;
}

// Definimos un mixins

@mixin dimensiones ($width, $height) {
    height: $height;
	width: $width;
}

header {

    @include dimensiones(100%, 40px);
    background-color: $colorPrincipal;

    a{
        @extend .botonTexto;
        color:inherit;
        &:hover{
            color:#fff;
        }
    } 
}    

    nav {
        text-align: center;
        li{
            display:inline-block;
            width:10%;
            padding:10px 10px;
            text-align:center;
            color:#d6d6d6;
        }

    }



